{% extends "::base.html.twig" %}

{% block title %}AcmeDxsBundle:Job:Index{% endblock %}

{% block body %}
<h1>Welcome to the Job:Index page</h1>

<a href="jobs/add">Add a new job</a>
<br />
<br />

{% for job in jobs %}

<div>
	<p>Job Title: {{ job.title }}</p>
	<p>Description: {{ job.description }}</p>
	<p>
		<a href="/jobs/{{ job.id }}">View</a>
		<a href="/jobs/{{ job.id }}/edit">Edit</a>
		<a href="/jobs/{{ job.id }}/delete">Delete</a>
	</p>
</div>

<br />

{% endfor %}

{% endblock %}
