{% extends "::base.html.twig" %}

{% block title %}AcmeDxsBundle:Job:View{% endblock %}

{% block body %}
<h1>Jobs</h1>
<h2>{{ job.title }}</h2>
<p>Beschrijving: <br /> {{ job.description }}</p>
<p>Ervaring: {{ job.experience }}</p>
<p>Bij: {{ job.company }}</p>

{% endblock %}
